DATABASE_URL="postgresql://admin:admin@localhost:5432/microagent?schema=public"
TRANSACTION_SERVICE_HOST="0.0.0.0"
TRANSACTION_SERVICE_PORT="50051"
RABBITMQ_URL="amqp://localhost:5672"
OUTBOX_EXCHANGE="transaction.events"
RABBITMQ_VERSION="v1"
OUTBOX_POLL_INTERVAL_MS="2000"
OUTBOX_BATCH_SIZE="100"
