PORT="3003"
SEARCH_GRPC_HOST="0.0.0.0"
SEARCH_GRPC_PORT="50052"
SEARCH_MAX_RESULTS="100"
ELASTICSEARCH_NODE="http://localhost:9200"
ELASTICSEARCH_INDEX="transactions"
RABBITMQ_URL="amqp://localhost:5672"
RABBITMQ_VERSION="v1"
RABBITMQ_PREFETCH="1"
